<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Codebox Docs{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/docs.css" rel="stylesheet">

    <link rel="icon" href="/assets/img/32.png">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img src="/assets/img/w64.png" />
            Codebox Docs
          </a>
          <ul class="nav pull-right">
            <li><a href="https://www.codebox.io/" target="_blank">Codebox.IO</a></li>
            <li><a href="https://www.codebox.io/about" target="_blank">About</a></li>
            <li><a href="http://blog.codebox.io/" target="_blank">Blog</a></li>
            <li><a href="https://github.com/FriendCode/codebox" target="_blank">GitHub Repo!</a></li>
            <li><a href="https://www.codebox.io/signup" class="btn btn-success">Sign up free</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <ul id="menu" class="nav nav-pills nav-stacked" data-spy="affix">
            <li class="nav-header">GENERAL</li>
            <li data-section=""><a href="/">Home</a></li>

            <li class="nav-header">CODEBOX.IO</li>
            <li data-section="codebox_io/getting_started"><a href="
              /codebox_io/getting_started.html">Getting Started</a></li>
            <li data-section="codebox_io/api"><a href="
              /codebox_io/api.html">REST API</a></li>
            <li data-section="codebox_io/stacks"><a href="
              /codebox_io/stacks.html">Stacks</a></li>
            <li data-section="codebox_io/accounts"><a href="
              /codebox_io/accounts.html">Accounts</a></li>

            <li class="nav-header">TUTORIALS</li>
            <li data-section="tutorials/php"><a href="/tutorials/php.html">PHP - LAMP</a></li>

            <li class="nav-header">HELP</li>
            <li><a href="mailto:contact@friendco.de">Contact Support</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
{{content}}
        </div>
      </div>
    </div>

    <style>

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>

    <script>
      $('#menu [data-section="{{page.section}}"]').addClass('active');
      $('table').addClass('table').addClass('table-bordered').addClass('table-hover');
    </script>
  </body>
</html>
